<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ZNR</title>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<div id="navbar" class="topnav">
    <a href="/">Strona główna</a>
    <a class="active" href="/osh">Środki BHP</a>
    <a href="/tool">Materiały Eksploatacyjne</a>
    <a href="/warehouse">Magazyn</a>
    <a href="/tool">Narzędzia Trwałe</a>
    <a href="/devices">Urządzenia</a>
    <a href="/workers">Lista Pracowników</a>
</div>
</body>
</html>